<div class='user-info'>
  <div class='image-container'>
    <img src= <%= user.photo %> alt= '<%= user.name + ' avatar'%>'/>
  </div>
  <div class='user-content'>
    <h2><%= user.name %></h2>
    <p>Number of posts: <%= user.posts_counter%></p>
    <%= link_to "Create New Post", new_user_post_path(user_id: user.id) , class: "like-btn" %>
  </div>
</div>
